Repository fairagro/m4.2_inspire_to_arc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

.pre-commit-config.yaml:

# Pre-commit configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# All hooks use 'uv run' to execute tools defined in pyproject.toml
# This ensures consistency with the quality-check.sh script and uv.lock

repos:
  # Built-in hooks (no dependencies needed)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        stages: [manual, pre-push]
      - id: end-of-file-fixer
        stages: [manual, pre-push]
      - id: check-yaml
        exclude: ^helmchart/[^/]+/templates/.*\.ya?ml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.44.1
    hooks:
      - id: ggshield

  # All Python quality checks using uv run (local hooks)
  - repo: local
    hooks:
      # Ruff - Linting
      - id: ruff
        name: ruff lint
        entry: uv run ruff check --no-fix
        language: system
        types: [python]

      # Ruff - Formatting
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        args: [--check]

      # mypy - Type checking
      - id: mypy
        name: mypy type check
        entry: uv run mypy
        language: system
        types: [python]
        files: ^middleware/
        args: [--config-file, pyproject.toml]

      # bandit - Security linting
      - id: bandit
        name: bandit security scan
        entry: uv run bandit -r
        language: system
        types: [python]
        files: ^middleware/
        args: [--configfile, .bandit]

      # pylint - Code quality
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        files: ^middleware/

      # pytest - Unit tests only (runs on pre-push to keep commits fast)
      - id: pytest-unit
        name: pytest unit tests
        entry: bash -c "uv run pytest middleware/*/tests/unit/"
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      # Container Structure Test (runs on pre-push)
      - id: container-structure-test
        name: container structure test
        entry: bash scripts/run-container-structure-test.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

refactor: update sql-to-arc middleware architecture, project configuration, and CI/CD tooling.
  spec/configuration/spec.md
Due: none

feat: generalized from inspire_to_arc to middleware harvester that supports a multitude of harvesting modules
  .agents/skills/config-wrapper/SKILL.md
  AGENTS.md
  README.md
  dev_environment/config.local.yaml
  dev_environment/config.yaml
  middleware/harvester/pyproject.toml
  middleware/harvester/spec/configuration/design.md
  middleware/harvester/spec/configuration/spec.md
  middleware/harvester/spec/harvester-orchestration/design.md
  middleware/harvester/spec/harvester-orchestration/spec.md
  middleware/harvester/src/middleware/harvester/__init__.py
  middleware/harvester/src/middleware/harvester/config.py
  middleware/harvester/src/middleware/harvester/main.py
  middleware/harvester/tests/__init__.py
  middleware/harvester/tests/unit/__init__.py
  middleware/harvester/tests/unit/test_config.py
  middleware/inspire_to_arc/config_sample.yaml
  middleware/inspire_to_arc/spec/workflow-execution/spec.md
  middleware/inspire_to_arc/src/middleware/inspire_to_arc/config.py
  middleware/inspire_to_arc/src/middleware/inspire_to_arc/csw_client.py
  middleware/inspire_to_arc/src/middleware/inspire_to_arc/main.py
  middleware/inspire_to_arc/src/middleware/inspire_to_arc/mapper.py
  middleware/inspire_to_arc/src/middleware/inspire_to_arc/models.py
  middleware/inspire_to_arc/src/middleware/inspire_to_arc/plugin.py
  middleware/inspire_to_arc/tests/integration/test_harvester_integration.py
  middleware/inspire_to_arc/tests/unit/test_harvester.py
  middleware/inspire_to_arc/tests/unit/test_harvester_comprehensive.py
  middleware/inspire_to_arc/tests/unit/test_main_and_config.py
  middleware/inspire_to_arc/tests/unit/test_mapper_comprehensive.py
  middleware/inspire_to_arc/tests/unit/test_plugin.py
  pyproject.toml
  spec/configuration/design.md
  spec/configuration/spec.md
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

obsolete
  .vscode/copilot-instructions.md
Due: none

refactor: streamline code quality checks and update error handling in tests
  .github/workflows/reusable-code-quality.yml
  middleware/harvester/tests/unit/test_config.py
  middleware/inspire/src/middleware/inspire/errors.py
  spec/principles.md
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: update mypy script to prioritize harvester module over inspire
  scripts/run-mypy.sh
Due: none

refactor: generalize test command to include all middleware tests
  .github/workflows/reusable-code-quality.yml
Due: none

Update middleware/inspire/src/middleware/inspire/mapper.py
  middleware/inspire/src/middleware/inspire/mapper.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: update topic category mapping to handle unknown topics gracefully
  middleware/inspire/src/middleware/inspire/mapper.py
  middleware/inspire/tests/unit/test_mapper_comprehensive.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: enhance plugin configuration handling and update related documentation
  .agents/skills/config-wrapper/SKILL.md
  middleware/harvester/spec/configuration/design.md
  middleware/harvester/spec/configuration/spec.md
  middleware/harvester/spec/harvester-orchestration/design.md
  middleware/harvester/spec/harvester-orchestration/spec.md
  middleware/harvester/src/middleware/harvester/config.py
  middleware/harvester/src/middleware/harvester/main.py
  middleware/harvester/src/middleware/harvester/plugin_config.py
  middleware/inspire/spec/workflow-execution/spec.md
  middleware/inspire/src/middleware/inspire/config.py
  middleware/inspire/src/middleware/inspire/plugin.py
  middleware/inspire/tests/unit/test_plugin.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: generalize workflows and configurations to use harvester component
  .github/workflows/feature-pull-request.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-check.yml
  .github/workflows/reusable-code-quality.yml
  .github/workflows/reusable-release.yml
  dev_environment/README.md
  dev_environment/compose.yaml
  docker/Dockerfile.harvester
  docker/container-structure-tests/harvester.yaml
  scripts/run-container-structure-test.sh
Due: none

Refactor CSWClient to use Config object for initialization and queries
  docs/config_sample.yaml
  middleware/inspire/config_sample.yaml
  middleware/inspire/src/middleware/inspire/config.py
  middleware/inspire/src/middleware/inspire/csw_client.py
  middleware/inspire/src/middleware/inspire/plugin.py
  middleware/inspire/tests/integration/test_harvester_integration.py
  middleware/inspire/tests/unit/test_harvester.py
  middleware/inspire/tests/unit/test_harvester_comprehensive.py
  middleware/inspire/tests/unit/test_plugin.py
Due: ruff, ruff-format, mypy, bandit, pylint

Implement feature X to enhance user experience and fix bug Y in module Z
  uv.lock
Due: none

refactor: update CSW harvesting specification to clarify query modes and mutual exclusion
  middleware/inspire/spec/csw-harvesting/spec.md
Due: none

feat: implement demo environment with mock API and harvester configuration
  .gitignore
  AGENTS.md
  dev_environment/compose.demo.yaml
  dev_environment/config.demo.yaml
  dev_environment/demo_api_main.py
  middleware/inspire/src/middleware/inspire/mapper.py
  middleware/inspire/tests/unit/test_mapper_comprehensive.py
  spec/demo-environment/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: enhance documentation and update settings for harvester component
  .agents/skills/arctrl/SKILL.md
  .vscode/settings.json
  dev_environment/demo_api_main.py
  docs/inspire_mapping.md
  middleware/inspire/src/middleware/inspire/mapper.py
  middleware/inspire/tests/unit/test_mapper_comprehensive.py
  pyproject.toml
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: introduce CswConnectionError for improved error handling in CSWClient
  middleware/inspire/src/middleware/inspire/csw_client.py
  middleware/inspire/src/middleware/inspire/errors.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: change ESN parameter from 'full' to 'brief' in get_records method
  middleware/inspire/src/middleware/inspire/csw_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactor: enhance ownership application logic to prevent path injection vulnerabilities
  dev_environment/demo_api_main.py
Due: ruff, ruff-format
